* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html {
    
    font-size: 16px;
}
body {
    color: white;

}
header {
    display: flex;
    flex-direction: row-reverse;
    background:linear-gradient(to bottom, black, rgb(151, 146, 146));
    justify-content: space-between;
    
}
header img {
    width: 200px;
    height: calc(200px - 2rem);
    display: flex;
    
    
    }
.logo {
    border: 1px solid white;
    margin: 1rem;
    box-shadow: 0 0 5px white;
}
header div {
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
header {
    border-bottom: 1px solid white;
}

nav {
    padding-top: 3rem;
    padding-left: 1rem;
}

.elemento {
    display: inline;
    padding: 2px;
    margin-right: 1rem;
    
}
a {
    color: white;
}
.elemento a:hover {
    color: red;
}
.nombre  {
    text-align: center;
    text-shadow:5px 2px 5px   rgb(0, 0, 0);
}
@media (min-width: 584px){
    .nombre {
        font-size: 2rem;
    }
}
main {
    color: black;
}
section h1, h2 {
    text-align: center;
    padding-top: 2rem;
    }
section h1 {
    padding-left: 2rem;
    text-align: left;
    background: black;
    color: white;
    padding-bottom: 2rem;
    border-top: 1px solid white;
    border-bottom: 3px solid rgb(107, 107, 107);
    
} 
section h2 {
    padding-left: 2rem;
    text-align: left;
    background: black;
    color: white;
    padding-bottom: 2rem;
    border-top: 1px solid white;
    border-bottom: 3px solid rgb(107, 107, 107); 
} 
.principal p{
    background-color: rgb(175, 168, 168);
}    
section p {
    margin-left:  5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding:1rem;
}
.principal img {
    display:flex;
    margin-left: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px black;
   
    width: 90%;
    height: calc(100vh -2rem);
    object-fit: cover;
}
.tercero {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    
}
h3 {
    text-align:center;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}



.tercero li {
    margin-left: 1.5rem;
}

.tercero ul {
    
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    padding: 1rem;
    
}
 h3 {
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
}
.cosas {
    margin: 1rem;
}
.cosas p {
    margin:1rem;
}




































footer {
    color: black;
}